body {
    background-color: #f3f9ff;
p {
  text-align: center;
  color: rgb(98, 108, 122);
}

h1 {
  text-align: center;
  color: rgb(16, 50, 93);
}

ul {
  text-align: center;
  color: rgb(16, 50, 93);
}

li {
  background-color: rgb(2, 48, 116);
  color: rgb(169, 220, 244);
  margin: 2px;
  padding: 12px 90px;
  text-align: left;     /* items aligned with each other */
  list-style-type: circle;
  list-style-position: inside;
}



.image1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 20%;
}

footer > p{
  text-align: left;
  font-size: small;
}

nav a {
  display: grid;
}
}
